### Big Data -- Sample Data!

In [2]:
from sklearn.feature_extraction import DictVectorizer
import pandas as pd
import numpy as np

In [3]:
train_sample = pd.read_csv('/home/vincent/Desktop/datasets/' + 'test.csv', nrows=1000)
labels = pd.read_csv('/home/vincent/Desktop/datasets/' + 'trainLabels.csv', nrows=1000)

In [4]:
train_sample.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1700001,YES,NO,I7K7j9mvUurktDbybGa8nYojS5TrOrQqvAandHsdjv8=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653698,0.041684,0.940573,0.090851,0.873563,...,0.000000,0.98,3306,4678,NO,NO,YES,3,0.168448,0.863581
1,1700002,NO,NO,cSuQaz0xx+UxAtskjMBN1xCeacDm/4oJYEIDFL3CMoU=,vOPAlFJxrZoxaQht2ylUA2U0jUyFGxJF7iy/SNua2+U=,1.294118,0.000000,1.000000,0.000000,0.468855,...,-0.666667,1.00,1188,918,YES,NO,YES,1,0.694989,0.468855
2,1700003,NO,NO,VduR3ZHc2+rs/i34uA1VtOPTyOogJacJNc3mBuRRjIU=,ZSznNzP7c1xuAbA4HWA+NnJ4UXhlkZckpXtvQW/EJPw=,0.457076,0.318488,0.360094,0.444477,0.354545,...,0.000000,0.97,4400,3413,YES,NO,YES,0,0.326106,0.345455
3,1700004,NO,NO,S7l8SI3WbSTbhCSCcNJBWCtNjh8fSqS3ZhPZ3X+EGGU=,aZTF/lredyP4cukeN8bh6kpBjYmS1QFNpPOg2LVm3Lg=,1.085878,0.874811,0.939825,1.054732,0.767586,...,0.000000,0.87,4677,3307,YES,NO,YES,1,0.750832,0.760316
4,1700005,NO,NO,YKBNeCS2s8QQz1xy7Aes8Ina4f27Q022R7ggwOX58l0=,6E1RoTs+Er+giZsKw158lVBRFEjPAoSaWCcPwdXuk6k=,1.414798,0.000000,1.000000,0.000000,0.348653,...,-1.000000,1.00,1262,892,NO,NO,NO,10,0.580717,0.337559

In [5]:
labels.head()

,id,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
labels.columns

Index(['id', 'y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'y10',
       'y11', 'y12', 'y13', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19', 'y20',
       'y21', 'y22', 'y23', 'y24', 'y25', 'y26', 'y27', 'y28', 'y29', 'y30',
       'y31', 'y32', 'y33'],
      dtype='object')

In [7]:
train_sample[['id']] = range(1, 1001)

## Try to make something useful

In [8]:
train = pd.merge(train_sample, labels, on = 'id')

In [9]:
train.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,YES,NO,I7K7j9mvUurktDbybGa8nYojS5TrOrQqvAandHsdjv8=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653698,0.041684,0.940573,0.090851,0.873563,...,0,0,0,0,0,0,0,0,0,1
1,2,NO,NO,cSuQaz0xx+UxAtskjMBN1xCeacDm/4oJYEIDFL3CMoU=,vOPAlFJxrZoxaQht2ylUA2U0jUyFGxJF7iy/SNua2+U=,1.294118,0.000000,1.000000,0.000000,0.468855,...,0,0,0,0,0,0,0,0,1,0
2,3,NO,NO,VduR3ZHc2+rs/i34uA1VtOPTyOogJacJNc3mBuRRjIU=,ZSznNzP7c1xuAbA4HWA+NnJ4UXhlkZckpXtvQW/EJPw=,0.457076,0.318488,0.360094,0.444477,0.354545,...,0,0,0,0,0,0,0,0,0,0
3,4,NO,NO,S7l8SI3WbSTbhCSCcNJBWCtNjh8fSqS3ZhPZ3X+EGGU=,aZTF/lredyP4cukeN8bh6kpBjYmS1QFNpPOg2LVm3Lg=,1.085878,0.874811,0.939825,1.054732,0.767586,...,0,0,0,0,0,0,0,0,0,1
4,5,NO,NO,YKBNeCS2s8QQz1xy7Aes8Ina4f27Q022R7ggwOX58l0=,6E1RoTs+Er+giZsKw158lVBRFEjPAoSaWCcPwdXuk6k=,1.414798,0.000000,1.000000,0.000000,0.348653,...,0,0,0,0,0,0,0,0,0,1

In [10]:
from collections import Counter
Counter([name[0] for name in train.columns])

Counter({'i': 1, 'x': 145, 'y': 33})

In [11]:
train.columns

Index(['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
       ...
       'y24', 'y25', 'y26', 'y27', 'y28', 'y29', 'y30', 'y31', 'y32', 'y33'],
      dtype='object', length=179)

### Categorical values encoding

In [12]:
train.replace('YES', 1, inplace = True)
train.replace('NO', 0, inplace = True)
train.replace('nan', np.NaN, inplace = True)

In [13]:
train.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,1.0,0.0,I7K7j9mvUurktDbybGa8nYojS5TrOrQqvAandHsdjv8=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653698,0.041684,0.940573,0.090851,0.873563,...,0,0,0,0,0,0,0,0,0,1
1,2,0.0,0.0,cSuQaz0xx+UxAtskjMBN1xCeacDm/4oJYEIDFL3CMoU=,vOPAlFJxrZoxaQht2ylUA2U0jUyFGxJF7iy/SNua2+U=,1.294118,0.000000,1.000000,0.000000,0.468855,...,0,0,0,0,0,0,0,0,1,0
2,3,0.0,0.0,VduR3ZHc2+rs/i34uA1VtOPTyOogJacJNc3mBuRRjIU=,ZSznNzP7c1xuAbA4HWA+NnJ4UXhlkZckpXtvQW/EJPw=,0.457076,0.318488,0.360094,0.444477,0.354545,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0.0,S7l8SI3WbSTbhCSCcNJBWCtNjh8fSqS3ZhPZ3X+EGGU=,aZTF/lredyP4cukeN8bh6kpBjYmS1QFNpPOg2LVm3Lg=,1.085878,0.874811,0.939825,1.054732,0.767586,...,0,0,0,0,0,0,0,0,0,1
4,5,0.0,0.0,YKBNeCS2s8QQz1xy7Aes8Ina4f27Q022R7ggwOX58l0=,6E1RoTs+Er+giZsKw158lVBRFEjPAoSaWCcPwdXuk6k=,1.414798,0.000000,1.000000,0.000000,0.348653,...,0,0,0,0,0,0,0,0,0,1

In [26]:
names_categorical = []
X_numerical = []

for name in train.columns:
    if name.startswith('x'):
        # 找出每个列中最多的数据类型，因为每一列中可能会有str或数值类型的值
        column_type, _ = max(Counter(map(lambda x: str(type(x)), train[name])).items(), key = lambda x: x[1])
        if column_type == str(str):
            train[name] = train[name].apply(str)
            names_categorical.append(name)
        else:
            X_numerical.append(train[name].fillna(-999))

In [39]:
vec = DictVectorizer()
X_sparse = vec.fit_transform(train[names_categorical].T.to_dict().values())

In [47]:
X_numerical = np.column_stack(X_numerical)
X_numerical = np.nan_to_num(X_numerical)

In [50]:
print(X_numerical.shape)
print(X_sparse.shape)

(1000, 135)
(1000, 5305)

In [56]:
from sklearn.metrics import roc_auc_score, f1_score, log_loss, make_scorer
from sklearn.svm import LinearSVC
from sklearn.cross_validation import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier

In [57]:
y_columns = [name for name in train.columns if name.startswith('y')]

In [60]:
X_numerical_base, X_numerical_meta, X_sparse_base, X_sparse_meta, y_base, y_meta = train_test_split(
    X_numerical, 
    X_sparse, 
    train[y_columns].values,
    test_size = 0.5
)

In [74]:
X_meta = []
print('start training')
for i in range(y_base.shape[1]):
    y = y_base[:, i]
    if len(np.unique(y)) == 2:
        rf = RandomForestClassifier(n_estimators = 10, n_jobs = -1)
        rf.fit(X_numerical_base, y)
        X_meta.append(rf.predict_proba(X_numerical_meta))
        
        svm = LinearSVC()
        svm.fit(X_sparse_base, y)
        X_meta.append(svm.decision_function(X_sparse_meta))
print('end training')

start training
end training

In [83]:
X_meta = np.column_stack(X_meta)
print(X_meta.shape)

(500, 75)